<!DOCTYPE html>
<html>
<head>
    <title>Inventory</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h2>Inventory List</h2>

    <table>
        <tr>
            <th>Product</th>
            <th>Current Stock</th>
            <th>Unit</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        {% for item in inventory %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.current_stock }}</td>
            <td>{{ item.product.unit }}</td>

            <!-- LOW STOCK INDICATOR -->
            <td>
                {% if item.current_stock < 5 %}
                    <span class="badge low">LOW</span>
                {% else %}
                    <span class="badge ok">OK</span>
                {% endif %}
            </td>

            <td>
                <form method="POST" action="/update-stock/{{ item.id }}">
                    <input type="number" step="0.01" name="quantity" required>
                    <select name="type">
                        <option value="IN">IN</option>
                        <option value="OUT">OUT</option>
                    </select>
                    <button type="submit">Update</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/products">⬅ Back to Products</a>

</div>

</body>
</html>
